# Dependencies
/node_modules
/backend/node_modules

# Environment variables
.env
backend/.env

# Database files
backend/db.json
backend/users.json

# It is generally recommended to commit package-lock.json to source control.
# However, if you want to ignore it, uncomment the following line:
# /backend/package-lock.json

# Ignore document files
*.docx
